"<h2> Hello {{ name }} </h2>"
"<p>Welcome to the iRent, your rental search application!</p>"
"<p>your data:</p>
"<ul>
  <li>name: {{name}}</li>
  <li>username: {{username}}</li>
  <li>email: {{email}}</li>
  <li>password: {{password}}</li>
  <li>sex: {{sex}}</li>
</ul>"
